.navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 47px;
    padding-right: 15px;
}
.navbar a {
    display: block;
    color: #f2f2f2;
    padding: 5px 16px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.navbar a:hover {
    color: #ddd;
}
.navbar ul {
    display: flex;
    margin: 10px 0 0 0;
    list-style: none;
}
.navbar_item a {
    font-size: 14px;
}
.navbar_item-signup {
    margin-left: 6px;
}
.navbar_item-signup a {
    border-radius: 3px;
    background-color: darkblue;
}
@media (max-width: 568px) {
    .navbar ul {
        display: none;
    }
}
